* {
    opacity: 1;
}
body:before {
    z-index: -1;
}
.caption p {
    color: #99c038;
    font-family: open-sans-condensed, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    
    padding: 15px;
}
.nav:nth-of-type(2) {
    background: #99c038;
}
.cont {
    width: 1000px;

    margin: auto;
    margin-top: 40px;
    margin-bottom: 120px;
}
.table {
    width: 100%;

    background: #d1c7c7;
    display: table;

    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 0 16px #544646;
}
.row {
    width: 100%;

    display: table-row;
}
.cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    display: table-cell;
}
.table a {
    color: #6d8927;
    text-decoration: none;
    font-family: open-sans-condensed, sans-serif;
    font-weight: 900;
}
.cell:nth-of-type(2n) .a1 {
    width: 28%;
}
.cell:nth-of-type(2n) {
    width: 80%;

    vertical-align: middle;
}
.cell:nth-of-type(2n) a {


    float: right;
    text-align: left;

    padding-left: 65px;
}
.cell:nth-of-type(2n + 1) {
    width: 20%;

    vertical-align: top;
}
.cell:nth-of-type(2n + 1) a {
    width: 200px;

    text-align: center;

    display: block;

    padding: 30px 0;
}
.a5 {
    padding-left: 60px;
}
.a4 {
    padding-left: 50px;
}
.a3 {
    padding-left: 40px;
}
.a2 {
    padding-left: 30px;
}
.a1 {
    padding-left: 20px;
}
#myCanvas {
    margin-top: 20px;
    margin-left: 30px;
}
.row:nth-of-type(2) .cell:nth-of-type(2) {
    position: relative;
}
img {
    height: 30px;
    width: 30px;

    position: absolute;

    border-radius: 50%;
    box-shadow: 1px 0 16px #5d5050;
}